version: "3.9"

services:
  app:
    image: nodejs-complete-guide
    container_name: nodejs-dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
